.container-progresso{
    display: flex;
    flex-direction: column;
}

.progresso-conteudo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.progresso-conteudo img{
    width: 70%; 
}

.progresso-conteudo h1{
    margin-bottom: 20px;
}

.progresso-conteudo h2{
    margin-bottom: 40px;
}

.progresso-conteudo form{
    margin-bottom: 40px;
}

.porcentagem-progresso{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 1px solid var(--main-cor-secundaria);
    border-radius: 100%;
    height: 200px;
    width: 50%;
    font-family: 'Roboto';
}

.porcentagem-progresso h3{
    font-size: 72px;
    color: var(--main-cor-secundaria);
}

.porcentagem-progresso h4{
    color: var(--main-cor-primaria);
}