.recovery-password-success-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}

.recovery-password-success-container img{
    width: 70%; 
}

.recovery-password-success-container h1{
    margin-bottom: 32px;
}

.recovery-password-success-container span{
    margin-bottom: 32px;
}

.recovery-password-success-container span:nth-child(4){
    color: var(--main-cor-span-claro);
}
