.container-cadastro{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 110vh;
}

.container-cadastro button{
    margin-bottom: 16px;
    margin-top: 16px;
}

.container-cadastro img{
    width: 50%;
}

.container-cadastro h1{
    margin-bottom: 16px;
}

.botao-cadastro{
    display: flex;
    justify-content: center;
}