.login-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}

.login-container button{
    margin-bottom: 32px;
}

.login-container a{
    margin-bottom: 16px;
}

.login-container img{
    width: 90%;
}

.login-container h1{
    margin-bottom: 32px;
}

.login-button{
    display: flex;
    justify-content: center;
    margin-top: 16px;
}