.update-password-container{
    display: flex;
    flex-direction: column;
}

.update-password-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.update-password-content img{
    width: 70%; 
}

.update-password-content h1{
    margin-bottom: 20px;
}

.update-password-content form{
    margin-bottom: 40px;
}

.update-button{
    display: flex;
    justify-content: center;
}

.update-password-content form input:nth-child(6){
    margin-bottom: 32px;
}