.container-questoes{
    display: flex;
    flex-direction: column;
}

.questoes-conteudo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.questoes-conteudo img{
    width: 70%; 
}

.questoes-conteudo h1{
    margin-bottom: 20px;
}

.questoes-conteudo form{
    margin-bottom: 40px;
}

.questoes-conteudo h2{
    margin-bottom: 40px;
}