.container-boas-vindas{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100vh; 
}

.container-boas-vindas img{
    width: 60%;
    margin-top: 48px;
    margin-bottom: 64px;
}

.container-boas-vindas h1{
    margin-bottom: 32px;
}

.container-boas-vindas p{
    text-align: center;
    max-width: 80%;
    margin-bottom: 128px;
}
