.botao-modulos{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    height: 60px;
    border-radius: 6px;
    border: none;
    color: var(--main-cor-neutra);
    font-size: 22px;
    font-family: 'Roboto';
    margin-bottom: 20px;
}
