.container-modulo-selecionado{
    display: flex;
    flex-direction: column;
}

.modulo-selecionado-conteudo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modulo-selecionado-conteudo img{
    width: 70%; 
}

.modulo-selecionado-conteudo h1{
    margin-bottom: 20px;
}

.modulo-selecionado-conteudo form{
    margin-bottom: 40px;
}

.conteudo-download{
    margin-bottom: 20px;
}

.modulo-selecionado-conteudo span:nth-child(5){
    margin-bottom: 30px;
}