.container-recuperar-senha-sucesso{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}

.container-recuperar-senha-sucesso img{
    width: 70%; 
}

.container-recuperar-senha-sucesso h1{
    margin-bottom: 32px;
}

.container-recuperar-senha-sucesso span{
    margin-bottom: 32px;
}

.container-recuperar-senha-sucesso span:nth-child(4){
    color: var(--main-cor-span-claro);
}
