/* Position and sizing of burger button */
.bm-burger-button {
    position: fixed;
    width: 36px;
    height: 30px;
    left: 36px;
    top: 36px;
  }
  
  /* Color/shape of burger icon bars */
  .bm-burger-bars {
    background: var(--main-cor-icone-burguer);
  }
  
  /* Color/shape of burger icon bars on hover*/
  .bm-burger-bars-hover {
    background: var(--main-cor-primaria);
  }
  
  /* Position and sizing of clickable cross button */
  .bm-cross-button {
    height: 24px;
    width: 24px;
  }
  
  /* Color/shape of close button cross */
  .bm-cross {
    background: var(--main-cor-botao-fechamento-menu);
  }
  
  /*
  Sidebar wrapper styles
  Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
  */
  .bm-menu-wrap {
    position: fixed;
    height: 100%;
  }
  
  /* General sidebar styles */
  .bm-menu {
    background: var(--main-cor-primaria);
    padding: 2.5em 1.5em 0;
    font-size: 1.15em;
  }
  
  /* Individual item */
  .bm-item {
    display: inline-block;
  }
  
  /* Styling of overlay */
  .bm-overlay {
    background: var(--main-overlay-menu);
  }

  .bm-item{
    text-transform: uppercase;
    color: var(--main-cor-neutra);
    margin-bottom: 36px;
    font-family: 'Roboto';
    font-weight: 400;
    letter-spacing: 0.1em;
    width: 100%; 
    font-size: 20px;
  }