.container-alterar{
    display: flex;
    flex-direction: column;
}

.alterar-conteudo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.alterar-conteudo img{
    width: 70%; 
}

.alterar-conteudo h1{
    margin-bottom: 20px;
}

.alterar-conteudo form{
    margin-bottom: 40px;
}

.botao-alterar{
    display: flex;
    justify-content: center;
}

.alterar-conteudo form input:nth-child(6){
    margin-bottom: 32px;
}