.botao-questoes{
    width: 70%;
    height: 40px;
    font-family: 'Roboto';
    background: none;
    border: 1px solid var(--main-cor-secundaria);
    text-transform: uppercase;
    color: var(--main-cor-secundaria);
    margin-bottom: 20px;
    letter-spacing: 0.2em;
}

.botao-questoes:active{
    background-color: var(--main-cor-secundaria);
    color: #fff;
}
