@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

/* CORES PADRÕES */
:root{
  --main-titulo: #373737;
  --main-subtitulo: #575757;
  --main-texto: #6a6a6a;
  --main-ancora: #6A6A6A;
  --main-cor-span: #373737;
  --main-cor-span-claro: #989898;
  --main-placeholder: #989898;

  --main-texto-input: #575757;
  --main-border-input: #989898;
  --main-label-form: #575757;

  --main-cor-icone-burguer: #989898;
  --main-cor-background-menu-lateral: #7c7676;
  --main-cor-botao-fechamento-menu: #bdc3c7;
  --main-overlay-menu: rgba(0, 0, 0, 0.3);
  
  --main-cor-primaria: #7D97F4;
  --main-cor-secundaria: #5961F4;
  --main-cor-terciaria: #4A4CF6;
  --main-cor-quaternaria: #3638FD;
  --main-cor-neutra: #FFF;
}

/* RESETS */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a, button{
  cursor: pointer;
}

/* PADRÕES */
h1{
  font-family: 'Roboto';
  font-weight: 500;
  color: var(--main-titulo);
  font-size: 32px;
}

h2{
  font-family: 'Roboto';
  font-weight: 400;
  color: var(--main-subtitulo);
  font-size: 18px;
}

p{
  font-family: 'Roboto';
  font-weight: 300;
  color: var(--main-texto);
  font-size: 16px;
}

a{
  text-decoration: none;
  color: var(--main-ancora);
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 14px;
  cursor: pointer;
}

a:active{
  color: var(--main-cor-secundaria);
}

span{
  font-family: 'Roboto';
  color: var(--main-texto);
  font-size: 14px;
}

.pattern-button-1{
  width: 50%;
  height: 50px;
  border-radius: 5px;
  border: none;
  background-color: var(--main-cor-primaria);
  color: var(--main-cor-neutra);
  text-transform: uppercase;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 18px;
}

.pattern-button-1:active{
  background-color: var(--main-cor-secundaria);
}

/* FORMULÁRIO PADRÃO */
form{
  display: flex;
  flex-direction: column;
  font-family: 'Roboto';
  width: 80%;
}

form label{
  color: var(--main-label-form);
  margin-bottom: 6px;
}

form input{
  color: var(--main-texto-input); 
  height: 40px;
  border: 1px solid var(--main-border-input);
  border-radius: 5px;
  box-shadow: none;  
  padding-left: 8px; 
  margin-bottom: 16px;
}

form input:focus{
  box-shadow: 0 0 0 0;
  outline: 0;
  border: 2px solid var(--main-cor-primaria);
}

form input::placeholder{
  color: var(--main-placeholder);
}